# General
*.log
*.logs

# Github
gh

# OBS
.config/obs-studio/logs/
.config/obs-studio/profiler_data/

# Spotify
spotify
.config/spicetify/Backup/
.config/spicetify/Extracted/

# Discord
.config/vesktop/Crashpad/
.config/vesktop/sessionData/
.config/JetBrains/
