
@import "../../.cache/wal/colors-waybar.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* Default settings */
#clock,
#hardware,
#pulseaudio,
#connections,
#battery,
#media {
    background-color:  #000000;
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 2px 15px 2px 15px;
    margin: 5px 15px 5px 0px;
    opacity:0.8;
}

#workspaces {
    background-color: #000000;
    opacity: 0.8;
    margin: 5px 1px 6px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    color: #000000;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: #FFFFFF;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: #000000;
    background: #CCCCCC;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: #000000;
    background: #CCCCCC;
    border-radius: 15px;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: #BF616A;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* =============================== */
/* System Monitoring Modules */
#cpu,
#memory,
#custom-gpu,
#temperature {
    transition: none;
    padding-left: 5px;
    padding-right: 5px;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#custom-notifications {
  color: #cba6f7;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 5px;
  padding-right: 1.25rem;
}

#mode {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

#clock {
    margin-left: 5px;
    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
}

#backlight {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    font-size: 20px;
    color: black;
    margin: 2px 20px 2px 0px;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    padding-right: 5px;
    font-size: 15px;
}

#network.ethernet {
    background-color: #000000;
    color: #FFFFFF;
}

#network.wifi {
    background-color: #000000;
    color: #FFFFFF;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth {
    padding-left: 5px;
}


/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {

}

#pulseaudio.muted {

}


/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    padding-right: 22px;
    transition: none;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning:not(.charging) {
    background-color: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink-warning;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging, #battery.plugged {
    color: #FFFFFF;
    background-color: #000000;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #000000;
    animation-name: blink-critical;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Media Player 
 * ----------------------------------------------------- */

#custom-media_previous,
#custom-media_startpause,
#custom-media_forward {
    font-size: 22px;
}

#custom-media_forward {
    margin-left: 10px;
    margin-right: 5px;
}
#custom-media_previous {
    margin-left: 20px;
    margin-right: 10px;
}
#custom-media_startpause {
    margin: 0px 5px 0px 5px;
}

#tray {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ffffff;
    background: #383c4a;
}

/* Animations */
@keyframes blink-warning {
    70% {
        color: #d8dee9;
    }

    to {
        color: #D8DEE9;
        background-color: #D8DEE9;
    }
}

@keyframes blink-critical {
    70% {
      color: #D8DEE9;
    }

    to {
        color: #D8DEE9;
        background-color: #BF616A;
    }
}
